@font-face {
  font-family: "Gramatika-Regular";
  src: url("/assets/scss/fonts/Gramatika-Regular.ttf");
}

@font-face {
  font-family: "Gramatika-Light";
  src: url("/assets/scss/fonts/Gramatika-Light.ttf");
}

@font-face {
  font-family: "Gramatika-Italic";
  src: url("/assets/scss/fonts/Gramatika-Italic.ttf");
}

@font-face {
  font-family: "Gramatika-Bold";
  src: url("/assets/scss/fonts/Gramatika-Bold.ttf");
}

@font-face {
  font-family: "Fungal";
  src: url("/assets/scss/fonts/Fungal-Grow500Thickness500.woff2");
}
