/*======TYPOGRAPHY======*/
.description-text {
  display: block;
  width: 100%;
  font-family: $Gramatika-Regular;
  line-height: 100%;
  @include fluid-type(320px, 1199px, 14px, 16px);
  text-align: left;
  margin: 0;
  padding: 0;
  &.small {
    @include fluid-type(320px, 1199px, 12px, 14px);
  }
  &.big {
    @include fluid-type(320px, 1199px, 18px, 20px);
  }
  &.font-bold {
    font-family: $Gramatika-Bold;
  }
  &.font-bold-italic {
    font-family: $Gramatika-Bold-Italic;
  }
  &.font-italic {
    font-family: $Gramatika-Italic;
  }
  &.font-black {
    font-family: $Archivo-Black;
  }
  &.font-fungal {
    font-family: $Fungal;
  }
  &.text-right {
    text-align: right;
  }
  &.text-justify {
    text-align: justify;
  }
  &.text-center {
    text-align: center;
  }
  &.black {
    color: $black;
  }
  &.red {
    color: $color04;
  }
  &.text-outline {
    text-shadow: -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black,
      1px 1px 0 $black;
    letter-spacing: 2px;
  }
  &.white {
    color: $white;
  }
  &.grey-01 {
    color: $grey01;
  }
  &.grey-02 {
    color: $grey02;
  }
  &.color-03 {
    color: $color03;
  }
  &.uppercase {
    text-transform: uppercase;
  }
  &.lowercase {
    text-transform: lowercase;
  }
  &.capitalize {
    text-transform: capitalize;
  }
}

.description-title {
  display: block;
  width: 100%;
  font-family: $Gramatika-Regular;
  @include fluid-type(320px, 1199px, 20px, 24px);
  text-align: left;
  line-height: 100%;
  margin: 0;
  padding: 0;
  &.small {
    @include fluid-type(320px, 1199px, 18px, 22px);
  }
  &.big {
    @include fluid-type(320px, 1199px, 24px, 28px);
  }
  &.text-header {
    @include fluid-type(320px, 1199px, 20px, 40px);
  }
  &.text-right {
    text-align: right;
  }
  &.text-justify {
    text-align: justify;
  }
  &.text-center {
    text-align: center;
  }
  &.font-bold {
    font-family: $Gramatika-Bold;
  }
  &.font-bold-italic {
    font-family: $Gramatika-Bold-Italic;
  }
  &.font-black {
    font-family: $Archivo-Black;
  }
  &.font-italic {
    font-family: $Gramatika-Italic;
  }
  &.font-fungal {
    font-family: $Fungal;
  }
  &.black {
    color: $black;
  }
  &.red {
    color: $color04;
  }
  &.white {
    color: $white;
  }
  &.text-outline {
    text-shadow: -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black,
      1px 1px 0 $black;
    letter-spacing: 6px;
  }
  &.grey-01 {
    color: $grey01;
  }
  &.grey-02 {
    color: $grey02;
  }
  &.color-03 {
    color: $color03;
  }
  &.uppercase {
    text-transform: uppercase;
  }
  &.lowercase {
    text-transform: lowercase;
  }
  &.capitalize {
    text-transform: capitalize;
  }
}
