/*======COLORS======*/
$black: #000000;
$white: #ffffff;
$white02: #E6EDF2;
$grey01: #5e5e5e;
$grey02: #aaaaaa;
$grey03: #e6e6e6;
$color01: #a9b9ff;
$color02: #ff00f2;
$color03: #4c45fa;
$color04: #ff0000;
$color05: #5eff00;

/*======FONTS======*/
$Archivo-Black: 'Archivo Black', sans-serif;
$Gramatika-Regular: 'Gramatika-Regular', sans-serif;
$Gramatika-Italic: 'Gramatika-Italic', sans-serif;
$Gramatika-Light: 'Gramatika-Light', sans-serif;
$Gramatika-Bold: 'Gramatika-Bold', sans-serif;
$Gramatika-Bold-Italic: 'Gramatika-BoldItalic', sans-serif;
$Fungal: 'Fungal', sans-serif;