/*======COLORS======*/
$black: #000;
$white: #fff;
$grey01: #5e5e5e;
$grey02: #aaaaaa;
$grey03: #f0f0f0;
$color01: #a9b9ff;
$color02: #2f00ff;
$color03: #FF0000;

/*======FONTS======*/
$Archivo-Black: 'Archivo Black', sans-serif;
$Gramatika-Regular: 'Gramatika-Regular', sans-serif;
$Gramatika-Italic: 'Gramatika-Italic', sans-serif;
$Gramatika-Light: 'Gramatika-Light', sans-serif;
$Gramatika-Bold: 'Gramatika-Bold', sans-serif;
$Fungal: 'Fungal', sans-serif;