/*======NAV======*/
footer {
  width: 100%;
  overflow: hidden;
}

.footer-wrapper {
  width: 100%;
  @include transition;
  background-color: $color01;
  border-radius: 100px 100px 0 0;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  position: relative;
  bottom: -100px;
  left: 0;
  p {
    text-align: center;
  }
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .footer-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    p {
      text-align: center;
    }
  }
  
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
