/*======NAV======*/
footer {
  width: 100%;
  overflow: hidden;
}

.footer-wrapper {
  width: 100%;
  @include transition;
  background-color: $color01;
  border-radius: 100px 100px 0 0;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  position: relative;
  bottom: -100px;
  left: 0;
  .description-text {
    text-align: center;
  }
  .left {
    justify-content: center;
    flex-wrap: wrap;
    a {
      margin: 5px;
      width: fit-content;
      .description-text {
        padding: 5px 10px;
        background-color: $grey03;
        @include transition;
        border-radius: 30px;
        text-overflow: ellipsis;
          &:hover {
          animation: shake 0.3s infinite;
          color: $black;
          background-color: $color05;
        }
      }
    }
  }
  .right {
    margin-top: 10px;
  }
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .footer-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    .left {
      justify-content: start;
      flex-direction: row;
      a {
        .description-text {
          text-align: left;
        }
      }
    }
    .right {
      margin-top: 0;
      .description-text {
        text-align: right;
      }
    }
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
