/*======NAV======*/
footer {
  width: 100%;
  overflow: hidden;
}
.footer-wrapper {
  width: 100%;
  @include transition;
  background-color: $white02;
  border-radius: 100px 100px 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  position: relative;
  bottom: -100px;
  left: 0;
  .description-text {
    text-align: center;
  }
  .left {
    justify-content: center;
    flex-wrap: wrap;
    a {
      display: inline-flex;
      align-items: center;
      margin: 5px;
      width: fit-content;
      .description-text {
        cursor: pointer;
        padding: 5px 10px;
        background-color: $grey03;
        @include transition;
        border-radius: 30px;
        text-overflow: ellipsis;
      }
      &:hover {
        .description-text {
          text-decoration: underline;
        }
      }
    }
  }
  .right {
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .footer-wrapper {
    justify-content: center;
    .left {
      justify-content: start;
      flex-direction: row;
      a {
        .description-text {
          text-align: left;
        }
      }
    }
    .right {
      margin-top: 0;
      .description-text {
        text-align: right;
      }
    }
  }
}
