/*======HEADER & NAV & HOMEPAGE======*/
.header {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  position: relative;
  background-color: $white02;
  .homepage-background-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    .homepage-background {
      z-index: 4;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      video,
      img {
        pointer-events: none;
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .slider-arrows-wrapper {
      .arrow-gallery-down {
        position: absolute;
        z-index: 10;
        bottom: 50px;
        right: 50%;
        transform: translateX(50%);
        @include transition;
        animation: floating 3s ease-in-out infinite;
        img {
          transform: scale(1);
          @include transition;
        }
      }
    }
  }
}
.navbar {
  position: fixed;
  width: fit-content;
  z-index: 100;
  top: 0;
  right: 0;
  .container {
    &:first-child {
      .row {
        justify-content: end;
      }
    }
  }
}
.navbar-menu {
  background-color: $white;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 98;
  @include transition2(all, 0.5s, ease-in-out);
  transform: translateX(100%);
  border-radius: 100px 0 0 100px;
  &.open {
    transform: translateX(0);
    overflow-y: scroll;
    scrollbar-width: thin;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    &::-webkit-scrollbar {
      width: 0;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }
  .menu-list-options {
    background-color: $white;
    width: 100%;
    padding: 20px;
    .menu-list-logo {
      width: 30%;
      img {
        width: 100%;
      }
    }
    li {
      padding: 15px 0;
      border: 1px solid $color03;
      margin: 5px 0;
      border-radius: 10px;
      padding: 10px;
      @include transition;
      .icon-help {
        &:first-child {
          margin-bottom: 7px;
        }
      }
      a {
        p {
          margin-top: 5px;
        }
      }
      .search {
        background-color: transparent;
        border: none;
        max-width: 100px;
        padding: 3px;
        &::placeholder {
          text-transform: uppercase;
          font-weight: 700;
          color: $black;
          padding-left: 3px;
        }
      }
      .navbar-menu-social {
        height: 20px;
        i {
          color: $black;
          margin: 0 10px;
        }
      }
    }
    img {
      width: 20%;
    }
  }
}
.navbar-menu-list {
  position: relative;
  width: fit-content;
  top: 0;
  z-index: 99;
  height: 80px;
  border-radius: 0 0 30px 30px;
  transition: top 0.3s;
  background-color: $white;
  border: 2px solid $color03;
  border-top: none;
  box-shadow: 10px 7px 30px -4px rgba($color03, 0.37);
  .menu-list-icon {
    min-width: 100px;
    height: 50px;
    position: relative;
    background-color: $white;
    border-radius: 20px;
    padding: 10px 15px;
    border: 2px solid $color03;
    @include transition;
    .description-text {
      @include transition2(all, 0.2s, ease-in-out);
    }
    .menu-list-options {
      border: 2px solid $color03;
      display: none;
      background-color: $white;
      position: absolute;
      top: 55px;
      right: 0;
      padding: 15px;
      border-radius: 10px;
      min-width: 200px;
      box-shadow: 7px 7px 5px -4px rgba($color03, 0.37);
      li {
        margin-bottom: 5px;
        padding: 0 10px 5px 10px;
        @include transition;
        &:not(:first-child) {
          border: 1px solid $grey01;
          padding-top: 5px;
          border-radius: 10px;
          &:hover {
            transform: translateX(30px);
          }
        }
        &.lang {
          padding: 0;
          a {
            display: block;
            padding: 5px 10px 5px 10px;
            width: 100%;
          }
        }
      }
      i {
        color: $grey01;
      }
      .search {
        width: 80%;
        border: 1px solid $white;
        padding: 3px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:active,
        &:focus {
          border: 1px solid $black;
          border-radius: 5px;
        }
      }
    }
  }
  .menu-list-logo {
    img {
      width: 100px;
      height: auto;
    }
  }
  & > div {
    height: 100px;
    width: fit-content;
    &:hover {
      .menu-list-icon {
        border-radius: 50%;
        p {
          transform: scale(2);
        }
        .menu-list-options {
          display: block;
          &.search {
            display: flex;
            align-items: center;
            i {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
.swiper {
  width: 80%;
  overflow: hidden;
  height: 80vh;
  position: relative;
  @include transition2(all, 1s, ease-in-out);
  border-radius: 25px;
  .homepage-background-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    .description-title {
      @include transition2(all, 0.5s, ease-in-out);
      transition-delay: 0.3s;
      text-align: center;
      padding: 15px;
    }
    .right {
      position: absolute;
      bottom: 30px;
      right: 30px;
    }
  }
}
@media (min-width: 576px) {
  .navbar-menu {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .navbar-menu {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .header {
    .homepage-background-wrapper {
      .slider-arrows-wrapper {
        .arrow-gallery-down {
          &:hover {
            transform: scale(3);
          }
        }
      }
    }
  }
  .navbar {
    right: 30px;
  }
  .navbar-menu {
    box-shadow: -85px 56px 4px -80px $color02;
    width: 30%;
    bottom: 0;
    top: auto;
    height: 80vh;
    border-radius: 15px 0 0 0;
    &.pt-70 {
      padding: 0;
    }
    &.open {
      &::-webkit-scrollbar {
        width: 5px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: $white;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $black;
        border-radius: 50%;
      }
    }
    .menu-list-options {
      border-radius: 15px 0 0 0;
      li {
        padding: 15px 0;
        border: 1px solid $color03;
        margin: 5px 0;
        border-radius: 10px;
        padding: 10px;
        @include transition;
        &:hover {
          background-color: $color03;
          box-shadow: inset 0 0 40px $white;
          border: 1px solid $white;
          p {
            color: $white;
            font-family: $Gramatika-Bold-Italic;
          }
          .search {
            color: $white;
            &::placeholder {
              color: $white;
            }
          }
          .navbar-menu-social {
            i {
              color: $white;
            }
          }
        }
        .icon-help {
          &:first-child {
            margin-bottom: 7px;
          }
        }
        .search {
          background-color: transparent;
          border: none;
          max-width: 100px;
          padding: 3px;
          &::placeholder {
            text-transform: uppercase;
            font-weight: 700;
            color: $black;
            padding-left: 3px;
          }
        }
        .navbar-menu-social {
          height: 20px;
          i {
            color: $black;
            margin: 0 10px;
          }
        }
      }
      img {
        width: 20%;
      }
    }
  }
  .navbar-menu-list {
    .menu-list-icon {
      margin: 0 10px;
      min-width: 110px;
      i {
        margin-right: 10px;
      }
    }
  }
  .swiper {
    width: 50%;
    height: 60vh;
    &:hover {
      transform: scale(3);
    }
    .homepage-background-text {
      .left {
        left: 80px;
      }
      .right {
        right: 80px;
      }
      .description-title {
        border-radius: 50px;
        border: 2px solid transparent;
        &:hover {
          transform: scale(0.2);
          color: $black;
          background-color: $white;
          border: 2px solid $black;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .navbar {
    right: 100px;
  }
  .navbar-menu {
    .menu-list-options {
      li {
        .search {
          max-width: 100%;
        }
      }
    }
  }
}
@media (min-width: 1400px) {
  .navbar {
    right: 150px;
  }
  .navbar-menu {
    width: 20%;
  }
  .swiper {
    .homepage-background-text {
      .left {
        left: 150px;
      }
      .right {
        right: 150px;
        bottom: 100px;
      }
    }
  }
}
